body {
    font-family: "Open Sans", sans-serif;
    /*sans-serif*/
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: auto;
    height: auto;
    padding-left: 32px;
}
nav{
    display: flex;
    justify-content: flex-end;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 35px;
}
.home{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 24px;
    padding-right: 24px;
}
.ourpackage{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
}
.callus{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 24px;
    padding-right: 24px;
}
main{
    margin-left: 60px;
    margin-right: 60px;
}
.starter{
    text-align: center;
}
.starter > h1{
    margin-top: 40px;
}
.starter > p{
    margin: 40px;
    color: #a8b2be;
}
.content{
    display: flex;
    justify-content: space-between;
}
.slide{
    height: 600px;
    width: 75%;
    border: 1px solid black;
    margin-right: 30px;
}
.form-content{
    height: 480px;
    width: 22%;
    background-color: #edf0f4;
    border: 1px transparent;
    border-radius: 1%;
}
.form-content > header{
    margin: 50px;
}
.form-content > header > p{
    font-size: 11px;
    color: #8193a8;
}
form{
    margin: 50px;
}
form > label{
    font-size: 11px;
    margin-bottom: 10px;
}
form > input{
    height: 40px;
    width: 100%;
    border: 2px solid #c9d3dd;
    border-radius: 4%;
    margin-bottom: 13px;
    margin-top: 4px;
}
form > select{
    height: 40px;
    width: 104%;
    border: 2px solid #c9d3dd;
    border-radius: 4%;
}
form > button{
    margin-top: 12px;
    height: 40px;
    width: 105%;
    font-weight: bolder;
    background-color: #29323d;
    color: white;
    border: 1px solid #29323d;
    border-radius: 4%;
}
.our-package-content{
    align-content: center;
    background-color: rgba(237,240,244,255);
    height: 100px;
}
.our-package-content>h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
